{% extends '../base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/detalhes_agendamento_pg_proprietario.css' %}">
{% endblock css %}

{% block title %}
    <title>SaloNow-Agendamentos</title>
{% endblock title %}

{% block content %}
    <div class="container bootstrap snippets bootdeys">
        <div class="row">
            <div class="col-md-4 col-sm-6 content-card">
                <div class="card-big-shadow">
                    <div class="card card-just-text" data-background="color" data-color="blue" data-radius="none">
                        <div class="content">
                            <h6 class="category">SaloNow</h6>
                            <h4 class="title">Nome do salão</h4>
                            <p class="description">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit aspernatur obcaecati nisi corrupti recusandae amet tempora libero ab nulla
                            </p>
                            <div>
                                <button type="button" class="btn btn-danger">Excluir</button>
                            </div>
                        </div>
                    </div> <!-- end card -->
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6 content-card">
                <div class="card-big-shadow">
                    <div class="card card-just-text" data-background="color" data-color="green" data-radius="none">
                        <div class="content">
                            <h6 class="category">SaloNow</h6>
                            <h4 class="title">Nome do salão</h4>
                            <p class="description">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit aspernatur obcaecati nisi corrupti recusandae amet tempora libero ab nulla
                            </p>
                            <div>
                                <button type="button" class="btn btn-danger">Excluir</button>
                            </div>
                        </div>
                    </div> <!-- end card -->
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6 content-card">
                <div class="card-big-shadow">
                    <div class="card card-just-text" data-background="color" data-color="yellow" data-radius="none">
                        <div class="content">
                            <h6 class="category">SaloNow</h6>
                            <h4 class="title">Nome do salão</h4>
                            <p class="description">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit aspernatur obcaecati nisi corrupti recusandae amet tempora libero ab nulla
                            </p>
                            <div>
                                <button type="button" class="btn btn-danger">Excluir</button>
                            </div>
                        </div>
                    </div> <!-- end card -->
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6 content-card">
                <div class="card-big-shadow">
                    <div class="card card-just-text" data-background="color" data-color="brown" data-radius="none">
                        <div class="content">
                            <h6 class="category">SaloNow</h6>
                            <h4 class="title">Nome do salão</h4>
                            <p class="description">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit aspernatur obcaecati nisi corrupti recusandae amet tempora libero ab nulla
                            </p>
                            <div>
                                <button type="button" class="btn btn-danger">Excluir</button>
                            </div>
                        </div>
                    </div> <!-- end card -->
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6 content-card">
                <div class="card-big-shadow">
                    <div class="card card-just-text" data-background="color" data-color="purple" data-radius="none">
                        <div class="content">
                            <h6 class="category">SaloNow</h6>
                            <h4 class="title">Nome do salão</h4>
                            <p class="description">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit aspernatur obcaecati nisi corrupti recusandae amet tempora libero ab nulla
                            </p>
                            <div>
                                <button type="button" class="btn btn-danger">Excluir</button>
                            </div>
                        </div>
                    </div> <!-- end card -->
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6 content-card">
                <div class="card-big-shadow">
                    <div class="card card-just-text" data-background="color" data-color="orange" data-radius="none">
                        <div class="content">
                            <h6 class="category">SaloNow</h6>
                            <h4 class="title">Nome do salão</h4>
                            <p class="description">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit aspernatur obcaecati nisi corrupti recusandae amet tempora libero ab nulla
                            </p>
                            <div>
                                <button type="button" class="btn btn-danger">Excluir</button>
                            </div>
                        </div>
                    </div> <!-- end card -->
                </div>
            </div>
        </div>
    </div>
{% endblock content %}