{% extends '../base.html' %}
{% load static %}

{% block css %}
    {% if verificacao %}
        <link rel="stylesheet" href="{% static 'css/principal_cliente.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="{% static 'css/sidebar_agendamentos.css' %}">
    {% else %}
        <link rel="stylesheet" href="{% static 'css/principal_proprietario.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.css">
    {% endif %}
{% endblock css %}

{% block title %}
    <title>Salões</title>
{% endblock title %}

{% block content %}
    {% if verificacao %}
        <!--Modal view specific salon-->
        {% for obj in agendamentos_cliente %}
            <div class="modal fade" id="viewAgendamento{{obj.salao.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">{{ obj.salao.nome_salao|title }}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <ul>
                                <li>Nome: {{ obj.cliente.nome_completo|title }}</li>
                                <li>Idade: {{ obj.idade }}</li>
                                <li>Dia: {{ obj.dia_selecionado }}</li>
                                <li>Horário: {{ obj.horario_selecionado }}</li>
                            </ul>
                            <table class="table text-center">
                                <thead>
                                    <tr>
                                        <th scope="col">Serviços</th>
                                        <th scope="col">Preço</th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider">
                                    {% for i in obj.servico.all %}
                                        <tr>
                                            <td>{{ i.servico|title }}</td>
                                            <td>R${{ i.preco }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer" style="display: flex; align-items: center; justify-content: space-between;">
                            <div class="text-center mt-3 mb-3">
                                <h2 style="font-size: 1em;">Total: R${{ obj.total_pagar }}</h2>
                            </div>
                            <button type="button" class="btn btn-danger" onclick="cancelarAgendamento({{ obj.id }})">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <!--Sidebar ver todos os agendamentos-->
        <div class="sidebarAgendamento" id="sb1">
            <header>
              <h2 style="font-size: 1.1em;">Agendamentos: {{ agendamentos_cliente|length }}</h2>
              <button type="button" class="btn-close" aria-label="Close" onclick="sidebarToggle()"></button>
            </header>
            {% if agendamentos_cliente|length == 0 %}
                <img class="center-img" src="{% static 'imgs/nenhum_agendamento.png' %}" alt="Nenhum agendamento encontrado">
            {% else %}
                <nav class="sidebar-nav">
                    <ul>
                        {% for obj in agendamentos_cliente %}
                            <button onclick="redirectAgendamento({{ obj.salao.id }})">
                                <li>
                                    <div class="organiza">
                                        <strong>{{ obj.salao.nome_salao|title }}</strong>
                                        <small>{{ obj.dia_selecionado }}/{{ obj.horario_selecionado }}</small>
                                    </div>
                                    <p>
                                        {{ obj.cliente.nome_completo|title }}
                                    </p>
                                    <p>
                                        {% for i in obj.servico.all %}
                                            {% if forloop.first %}( {% endif %}
                                            {{ i.servico|title }}
                                            {% if not forloop.last %} - {% endif %}
                                            {% if forloop.last %}){% endif %}
                                        {% endfor %}
                                    </p>
                                    <p>Total a pagar: R${{ obj.total_pagar }}</p>
                                </li>
                            </button>
                        {% endfor %}
                    </ul>
                </nav>
                <div class="rodape">
                    <button type="button" class="btn btn-outline-danger" onclick="cancelarTodosAgendamentos()">Cancelar todos agendamentos</button>
                </div>
            {% endif %}
        </div>
        <!-- Modal change location -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">
                            Alterar localidade
                        </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'atualizar-cep-cliente' %}" method="post">
                            {% csrf_token %}
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                            Sabe o CEP? Vamos lá!
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div>
                                                <input type="text" name="cep" id="cep" class="form-control" placeholder="CEP" data-mask="00000-000">
                                            </div>
                                            <div class="text-center mt-3" id="msg-error1">
                                                <p class="mb-0"></p>
                                            </div>
                                            <input type="hidden" name="validation_message1" id="validation_message1" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Não sabe o CEP? Tente pela cidade!
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <div class="col-6">
                                                    <input type="text" name="cidade" id="cidade" class="form-control" placeholder="Cidade">
                                                </div>
                                                <div class="col-6">
                                                    <input type="text" name="uf" id="uf" class="form-control" placeholder="Uf" maxlength="2">
                                                </div>
                                                <div class="text-center mt-3" id="msg-error2">
                                                    <p class="mb-0"></p>
                                                </div>
                                                <input type="hidden" name="validation_message2" id="validation_message2" value="">
                                                <button type="button" class="btn btn-primary mt-3" id="pesquisar">
                                                    <i class="fa fa-search"></i> Pesquisar
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                <input type="submit" class="btn btn-primary" value="Salvar alterações">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <header>
            <abbr title="Página inicial">
                <a href="{% url 'inicio' %}">
                    <img src="https://via.placeholder.com/100x48" alt="logo">
                </a>
            </abbr>
            <div class="dados">
                <img src={{ cliente.foto_perfil.thumbnail.url }} alt="">
                <h3>{{ cliente.nome_completo|title }}</h3>
            </div>
            <div class="btn-group">
                <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" id="localidade">
                    {{ cliente.cidade }}, {{ cliente.uf }}
                    <img src="{% static 'imgs/person_local.png' %}" alt="Localidade">
                </button>
                <button>
                    <img src="{% static 'imgs/settings.png' %}" alt="Configurações">
                </button>
                <button onclick="btn_sair()">Sair</button>
            </div>
        </header>
        {% if quantidade != 0 %}
            <div class="filtrar">
                <p>Encontre salões próximos</p>
                <div class="container">
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="col-md-8">
                            <form action="{% url 'filtrar-salao' %}" method="post" autocomplete="off" id="formfiltro" class="search">
                                {% csrf_token %}
                                <i class="fa fa-search"></i>
                                <input type="search" name="filtro" class="form-control" placeholder="Cidade, país, rua, bairro, ..." required>
                                <button class="btn btn-primary" type="submit">
                                    Procurar
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-3 mb-3">
                    <h4>Salões {{quantidade}}</h4>
                </div>
            </div>
            <div class="text-center" style="margin-bottom: 2em;">
                <button type="button" class="btn btn-outline-primary btn-custom" onclick="sidebarToggle()">Meus agendamentos</button>
                <button type="button" class="btn btn-outline-primary btn-custom" onclick="telaPrincipal()">Todos os salões</button>
            </div>
            <div>
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                        <div class="alert alert-success alert-dismissible fade show text-center" role="alert" style="margin-left: 4em; margin-right: 4em; margin-top: 1em;">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                    {% if message.tags == 'warning' %}
                        <div class="alert alert-warning alert-dismissible fade show text-center" role="alert" style="margin-left: 4em; margin-right: 4em; margin-top: 1em;">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                    {% if message.tags == 'error' %}
                        <div class="alert alert-danger alert-dismissible fade show text-center" role="alert" style="margin-left: 4em; margin-right: 4em; margin-top: 1em;">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        <main>
            {% if quantidade == 0 %}
                <h1 class="mt-5">Nenhum salão encontrado</h1>
            {% else %}
                {% for salao in saloes %}
                    <div class="card mb-3 w-75 div-salao" id="{{ salao.id }}" style="box-shadow: 1px 1px 15px 3px rgba(0, 0, 0, 0.371);">
                        <div class="card-body organiza">
                            <p class="card-text">
                                <small class="text-body-secondary">
                                    <img src="{% static 'imgs/local.png' %}" alt="Localização">
                                    {{ salao.cidade|title }}, {{ salao.rua|title }}, {{ salao.bairro|title }} - {{ salao.numero }}, ({{ salao.pais|title }})
                                </small>
                            </p>
                        </div>
                        <img src="{{ salao.imagem_salao.url }}" class="card-img-top" alt="Salão imagem">
                        <div class="card-body">
                            <h5 class="card-title">{{ salao.nome_salao|title }}</h5>
                            <p class="card-text">{{ salao.descricao }}</p>
                            <p class="card-text"><small class="text-body-secondary">Dias de funcionamento</small></p>
                        </div>
                        {% if salao.dias_funcionamento.all|length == 0 %}
                            <h5 class="nenhum-item">
                                Nenhum dia de funcionamento
                            </h5>
                        {% else %}
                            <div style="padding-left: 1.5em; padding-right: 1.5em;">
                                <table class="table text-center" id="table-view-days">
                                    <thead>
                                        <tr>
                                            <th scope="col">Dias</th>
                                            <th scope="col">Abertura</th>
                                            <th scope="col">Fechamento</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-group-divider">
                                        {% for dia in salao.dias_funcionamento.all %}
                                            <tr>
                                                <td>{{ dia.dia_semana }}</td>
                                                <td>{{ dia.abertura }}</td>
                                                <td>{{ dia.fechamento }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endif %}
                        <div class="card-body">
                            <p class="card-text"><small class="text-body-secondary">Serviços disponíveis</small></p>   
                        </div>
                        {% if salao.servico.all|length == 0 %}
                            <h5 class="nenhum-item">
                                Nenhum serviço disponível
                            </h5>
                        {% else %}
                            <div style="padding-left: 1.5em; padding-right: 1.5em;">
                                <table class="table text-center" id="table-view-services">
                                    <thead>
                                        <tr>
                                            <th scope="col">Serviço</th>
                                            <th scope="col">Preço</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-group-divider">
                                        {% for s in salao.servico.all %}
                                            <tr>
                                                <td>{{ s.servico|title }}</td>
                                                <td>R$ {{ s.preco }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endif %}
                        <div class="card-body feedback">
                            <div>
                                <label for="valor">0 Avaliações</label>
                                <meter id="valor" min="0" max="100" low="30" high="75" optimum="80" value="0"><meter>
                            </div>
                            <div class="d-flex justify-content-around mt-3">
                                <p>0 - Gostei</p>
                                <p>0 - Não gostei</p>
                                <p>0 - Achei duvidoso</p>
                            </div>
                        </div>
                        {% if salao.dias_funcionamento.all|length == 0 or salao.servico.all|length == 0 or salao.id in verifica_horarios%}
                            <div class="card-body m-auto">
                                <h1 style="font-size: 1.3em;">*Lamentamos, mas o salão encontra-se fechado no momento*</h1>
                            </div>
                        {% else %}
                            {% if salao.id in agendamentos_salao_id %}
                                <div class="card-body m-auto">
                                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#viewAgendamento{{salao.id}}">
                                        Visualizar agendamento
                                    </button>
                                </div>
                            {% else %}
                                <div class="card-body m-auto">
                                    <button type="button" class="btn btn-primary" onclick="realizarAgendamento({{ salao.id }})" >Realizar agendamento</button>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        </main>
    {% else %}
        <!-- Modal add salon -->
        <div class="modal fade modal-xl" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content" id="modalsalon">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel"></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="form-salao" method="post" enctype="multipart/form-data" autocomplete="off">
                            {% csrf_token %}
                            <div id="temp-content"></div>
                            <h3>Descrição</h3>
                            <div class="form-floating mb-2">
                                {{ form.nome_salao }}
                                <label for="salon-name">Nome do salão</label>
                            </div>
                            <div class="mb-2">
                                {{ form.descricao }}
                            </div>
                            <div class="location-inputs">
                                <h3>Localidade</h3>
                                <div class="form-floating mb-2">
                                    {{ form.cidade }}
                                    <label for="city">Cidade</label>
                                </div>
                                <div class="form-floating mb-2">
                                    {{ form.pais }}
                                    <label for="pais">País</label>
                                </div>
                                <div class="form-floating mb-2">
                                    {{ form.rua }}
                                    <label for="rua">Rua</label>
                                </div>
                                <div class="form-floating mb-2">
                                    {{ form.bairro }}
                                    <label for="bairro">Bairro</label>
                                </div>
                                <div class="mb-2">
                                    {{ form.numero }}
                                </div>
                            </div>   
                            <h3>Serviços disponíveis</h3>
                            <div>
                                <button id="add-button" class="btn btn-primary mb-3"><i class="fas fa-plus"></i> Adicionar serviço</button>
                                <table style="display: none; border-collapse: separate; border-spacing: 20px;">
                                    <thead class="table">
                                        <tr>
                                          <th scope="col">Serviço</th>
                                          <th scope="col">Preço</th>
                                          <th scope="col">Tempo homem</th>
                                          <th scope="col">Tempo mulher</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-group-divider" id="input-container"></tbody>
                                </table>
                            </div>
                            <div>
                                <h3>Dias de funcionamento</h3>
                                <table class="table" id="days-selector">
                                    <thead>
                                      <tr>
                                        <th scope="col">Dias</th>
                                        <th scope="col">Abertura</th>
                                        <th scope="col">Fechamento</th>
                                      </tr>
                                    </thead>
                                    <tbody class="table-group-divider">
                                        <tr>
                                            <td>
                                                <label for="segunda">
                                                    <input type="checkbox" name="segunda" id="segunda" value="Segunda-feira">
                                                    Segunda-feira
                                                </label>
                                            </td>
                                            <td>
                                                <input type="time" name="temp_aberto_seg" id="temp_aberto_seg" disabled>
                                            </td>
                                            <td>
                                                <input type="time" name="temp_fecha_seg" id="temp_fecha_seg" disabled>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label for="terca">
                                                    <input type="checkbox" name="terca" id="terca" value="Terça-feira">
                                                    Terça-feira
                                                </label>
                                            </td>
                                            <td>
                                                <input type="time" name="temp_aberto_ter" id="temp_aberto_ter" disabled>
                                            </td>
                                            <td>
                                                <input type="time" name="temp_fecha_ter" id="temp_fecha_ter" disabled>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label for="quarta">
                                                    <input type="checkbox" name="quarta" id="quarta" value="Quarta-feira">
                                                    Quarta-feira
                                                </label>
                                            </td>
                                            <td>
                                                <input type="time" name="temp_aberto_qua" id="temp_aberto_qua" disabled>
                                            </td>
                                            <td>
                                                <input type="time" name="temp_fecha_qua" id="temp_fecha_qua" disabled>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label for="quinta">
                                                    <input type="checkbox" name="quinta" id="quinta" value="Quinta-feira">
                                                    Quinta-feira
                                                </label>
                                            </td>
                                            <td>
                                                <input type="time" name="temp_aberto_qui" id="temp_aberto_qui" disabled>
                                            </td>
                                            <td>
                                                <input type="time" name="temp_fecha_qui" id="temp_fecha_qui" disabled>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label for="sexta">
                                                    <input type="checkbox" name="sexta" id="sexta" value="Sexta-feira">
                                                    Sexta-feira
                                                </label>
                                            </td>
                                            <td>
                                                <input type="time" name="temp_aberto_sex" id="temp_aberto_sex" disabled>
                                            </td>
                                            <td>
                                                <input type="time" name="temp_fecha_sex" id="temp_fecha_sex" disabled>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label for="sabado">
                                                    <input type="checkbox" name="sabado" id="sabado" value="Sabado">
                                                    Sábado
                                                </label>
                                            </td>
                                            <td>
                                                <input type="time" name="temp_aberto_sab" id="temp_aberto_sab" disabled>
                                            </td>
                                            <td>
                                                <input type="time" name="temp_fecha_sab" id="temp_fecha_sab" disabled>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label for="domingo">
                                                    <input type="checkbox" name="domingo" id="domingo" value="Domingo">
                                                    Domingo
                                                </label>
                                            </td>
                                            <td>
                                                <input type="time" name="temp_aberto_dom" id="temp_aberto_dom" disabled>
                                            </td>
                                            <td>
                                                <input type="time" name="temp_fecha_dom" id="temp_fecha_dom" disabled>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <input type="button" class="btn btn-success" id="submit-form" value="">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--Modal view feedback-->
        <div class="modal fade" id="viewFeedback" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">feed</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, impedit aliquid? Ipsum dicta quod maxime sed rem beatae perspiciatis et in, unde impedit ipsam pariatur consequatur magni cumque dignissimos reiciendis.
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur repellendus, ipsam, facere odio et neque ad molestiae nemo minus dicta, at animi mollitia eveniet eos dolor
                    </div>
                </div>
            </div>
        </div>
        <header>
            <abbr title="Página inicial">
                <a href="{% url 'inicio' %}">
                    <img src="https://via.placeholder.com/100x48" alt="logo">
                </a>
            </abbr>
            <h3>{{ proprietario.nome_completo|title }}</h3>
            <a href="{% url 'deslogar' %}">
                <button type="button" class="btn btn-danger">Sair</button>
            </a>
        </header>
        <!-- block user -->
        <div class="user-bar">
            <div class="dados">
                <img src={{ proprietario.foto_perfil.thumbnail.url }} alt="ola">
                <h1>{{ user.username|title }}</h1>
                <p>(Proprietário)</p>
            </div>
            <div class="accordion mt-2" style="padding: 7px;">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                        Salões
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
                      <div class="accordion-body">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" id="addsalon">
                            Adicionar
                        </button>
                      </div>
                    </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                        Agendamentos
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        {% if quantidade_agendamentos == 0 %}
                            <button type="button" class="btn btn-primary" disabled>Nenhum agendamento disponível</button>
                        {% else %}
                            <a href="{% url 'detalhes-agendamento-proprietario' %}">
                                <button type="button" class="btn btn-primary">Visualizar todos</button>
                            </a>
                        {% endif %}
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                      Relatórios
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                    <div class="accordion-body">
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui, quasi assumenda dolore facilis sunt perferendis iste reprehenderit suscipit exercitationem soluta. Non incidunt beatae repellat fugit consectetur fugiat dolore perspiciatis ipsam!
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFor" aria-expanded="false" aria-controls="panelsStayOpen-collapseFor">
                        Configurações
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapseFor" class="accordion-collapse collapse">
                      <div class="accordion-body">
                        <button type="button" class="btn btn-danger">
                            Excluir conta
                        </button>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <main>
            <div>
                <div class="top-dashboard-salon">
                    <h1 class="dashboard">Salões - {{ quantidade }}</h1>
                    <h1 class="dashboard">Agendamentos - {{ quantidade_agendamentos }}</h1>
                </div>
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                    {% if message.tags == 'warning' %}
                        <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                    {% if message.tags == 'success' %}
                        <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                {% endfor %}
                {% if quantidade == 0 %}
                    <h1>Nenhum salão adicionado</h1>
                {% else %}
                    {% for salao in saloes %}
                        <div class="card mb-3" id={{ salao.id }}>
                            <div class="card-body organiza div1">
                                <p class="card-text">
                                    <small class="text-body-secondary">
                                        <img src="{% static 'imgs/local.png' %}" alt="Localização">
                                        {{ salao.cidade|title }}, {{ salao.rua|title }}, {{ salao.bairro|title }} - {{ salao.numero }}, ( {{ salao.pais|title }} )
                                    </small>
                                </p>
                                {% if salao.id in agendamentos_disponiveis %}
                                    <button type="button" class="btn btn-primary position-relative" style="margin-right: 12px; font-size: 1.5em;" onclick="agendamentoEspecifico({{ salao.id }})">
                                        Agendamentos
                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                            {% for obj in agendamentos_salao_id %}
                                                {% if salao.id == obj.id %}
                                                    {{ obj.ocorrencias }}
                                                {% endif %}
                                            {% endfor %}
                                        <span class="visually-hidden">unread messages</span>
                                        </span>
                                    </button>
                                {% else %}
                                    <button type="button" class="btn btn-primary position-relative" style="margin-right: 12px; font-size: 1.5em;" disabled>
                                        Agendamentos
                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                            0
                                        <span class="visually-hidden">unread messages</span>
                                        </span>
                                    </button>
                                {% endif %}
                            </div>
                            <input type="hidden" value={{ salao.imagem_salao.url }}>
                            <img src="{{ salao.imagem_salao.url }}" class="card-img-top" alt="Salão imagem">
                            <div class="card-body div2">
                                <h3 class="card-title">{{ salao.nome_salao|title }}</h3>
                                <p class="card-text">{{ salao.descricao }}</p>
                                <p class="card-text"><small class="text-body-secondary">Dias de funcionamento ( {{ salao.dias_funcionamento.all|length }} )</small></p>
                            </div>
                            {% if salao.dias_funcionamento.all|length == 0 %}
                                <h5 class="nenhum-item">
                                    Nenhum dia de funcionamento
                                </h5>
                            {% else %}
                                <div style="padding-left: 1.5em; padding-right: 1.5em;">
                                    <table class="table text-center" id="table-view-days">
                                        <thead>
                                            <tr>
                                                <th scope="col">Dias</th>
                                                <th scope="col">Abertura</th>
                                                <th scope="col">Fechamento</th>
                                            </tr>
                                        </thead>
                                        <tbody class="table-group-divider">
                                            {% for dia in salao.dias_funcionamento.all %}
                                                <tr>
                                                    <td>{{ dia.dia_semana }}</td>
                                                    <td>{{ dia.abertura }}</td>
                                                    <td>{{ dia.fechamento }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endif %}
                            <div class="card-body">
                                <p class="card-text"><small class="text-body-secondary">Serviços disponíveis ( {{ salao.servico.all|length }} )</small></p>   
                            </div>
                            {% if salao.servico.all|length == 0 %}
                                <h5 class="nenhum-item">
                                    Nenhum serviço disponível
                                </h5>
                            {% else %}
                                <div style="padding-left: 1.5em; padding-right: 1.5em;">
                                    <table class="table text-center" id="table-view-services">
                                        <thead>
                                            <tr>
                                              <th scope="col">Serviço</th>
                                              <th scope="col">Preço</th>
                                              <th scope="col">Duração homem</th>
                                              <th scope="col">Duração mulher</th>
                                            </tr>
                                        </thead>
                                        <tbody class="table-group-divider">
                                            {% for obj in salao.servico.all %}
                                                <tr>
                                                    <td>{{ obj.servico|title }}</td>
                                                    <td>R$ {{ obj.preco }}</td>
                                                    <td>{{ obj.duracao_maxima_homem }}</td>
                                                    <td>{{ obj.duracao_maxima_mulher }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endif %}
                            <div class="card-body organiza">
                                <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#viewFeedback" style="width: 40em; border: 0px; border-radius: 20px;">
                                    <div class="feedback">
                                        <label for="valor">0 Avaliações</label>
                                        <meter id="valor" min="0" max="100" low="30" high="75" optimum="80" value="0"><meter>
                                    </div>
                                </button>
                                <div>
                                    <a href="#">
                                        <button type="button" class="btn btn-outline-secondary">Relatório</button>
                                    </a>
                                    <a href="#" class="card-link">
                                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="editarSalao(event)">Editar</button>
                                    </a>
                                    <a href="{% url 'excluir-salao' salao.id %}" class="card-link">
                                        <button type="button" class="btn btn-outline-danger">Excluir</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </main>
    {% endif %}
{% endblock content %}

{% block script %}
        {% if verificacao %}
            <script src="{% static 'js/page_principal/filter_location.js' %}"></script>
            <script src="{% static 'js/page_principal/change_location.js' %}"></script>
            <script>
                function btn_sair(){window.location.href="{% url 'deslogar' %}"}
                
                function realizarAgendamento(id){window.location.href = '/agendamento-cliente/'+ id}

                function cancelarAgendamento(id){window.location.href = '/cancelar-agendamento/' + id}

                function cancelarTodosAgendamentos(){window.location.href = '/cancelar-todos-agendamentos/'}

                function telaPrincipal(){window.location.href = '/tela-principal/'}
            </script>
            <script>
                function sidebarToggle() {
                    let sidebar = $('#sb1');
                    if (sidebar.hasClass('slide-open')) {
                        sidebar.removeClass('slide-open')
                        sidebar.addClass('slide-close')
                        setTimeout(function() {
                            sidebar.css('display', 'none')
                        }, 570)
                    } else {
                        sidebar.removeClass('slide-close')
                        sidebar.addClass('slide-open')
                        sidebar.css('display','block')
                    }
                }
                function redirectAgendamento(id) {
                    $('html, body').animate({
                        scrollTop: $('#' + id).offset().top
                    }, 100)
                }
            </script>
        {% else %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.js"></script>
            <script src="{% static 'js/page_principal/add_service.js' %}"></script>
            <script src="{% static 'js/page_principal/salon.js' %}"></script>
            <script>
                function agendamentoEspecifico(id){
                    window.location.href = '/detalhes-agendamento-especifico/' + id
                }
            </script>
        {% endif %}
{% endblock script %}