body{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 10vh 90vh;
    grid-template-areas: "bar head" "bar main";
}

header{
    grid-area: head;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to top, #012030 1%, #45C4B0);
    text-align: center;
    padding: 20px;
    color: #DAFDBA;
}

#image{
    display: none;
}

.picture{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    aspect-ratio: 16/9;
    background-color: #ddd;
    color: #aaa;
    border: 2px dashed #aaa;
    margin-bottom: 5px;
    cursor: pointer;
}

.img_input{
    max-width: 100%;
}

.user-bar{
    grid-area: bar;
    width: 20em;
    height: 100vh;
    background-image: linear-gradient(to top,#13678A, #45C4B0);
    overflow-y: auto;
}

.dados{
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
    background-image: linear-gradient(to bottom,#13678A, #45C4B0);
}

.dados img{
    width: 60px;
    height: 60px;
    max-width: 60px;
    max-height: 60px;
    border-radius: 50%;
}

main{
    grid-area: main;
    overflow-y: auto;
    padding: 10px;
    background-color: #012030;
    color: #DAFDBA;
}

.service{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.days{
    list-style: none;
}

.service > li{
    border: 1px solid green;
    border-radius: 20px;
    padding: 6px 8px;
    margin-right: 10px;
}

.feedback{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

meter{
    width: 30em;
    height: 1.5em;
    margin-left: 5px;
}

button > div > label{
    color: black;
    cursor: pointer;
}

.organiza{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.organiza a{
    text-decoration: none;
}